@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Red Hat Text", sans-serif;
}

.GoogleMap {
  width: 100%;
  height: 100%;
}

/* Scrollbar style for Chrome */

/* Track */
::-webkit-scrollbar {
  width: 0.25rem;
  border-radius: 1rem;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 1rem;
  scrollbar-color: blue;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:focus {
  background: red;
}

/* Buttons */
::-webkit-scrollbar-button {
  display: none;
}
